<configuration>

    <contextName>identity-admin</contextName>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/identity-admin-app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/identity-admin-app.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date [%thread] %-5level %logger{36}:%line - %msg%n%xException{full}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESSLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>var/log/identity-admin-access.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/identity-admin-access.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGFILE"/>
    </root>
</configuration>
