@valid: green;
@invalid: red;
@uneditable-background: #f5f5f5;
@searchHeaderBackground: #DCDCDC;

.navbar-form {
  border-top: 0px;
  border-bottom: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.search-bar-width{
  width: 90%;
}

.navbar-form .form-group .form-control {
  width: 90%;
}

.index-view-padding {
  padding: 5%;
}

.search-headers {
  background-color: @searchHeaderBackground;
}

.search-headers-mobile {
  background-color: @searchHeaderBackground;
  padding:1%;
  padding-left: 2%;
}

.search-grid-padding {
  padding-top: 1%;
}

.uneditable-fields {
  background: @uneditable-background;
}

.email-validated {
  color: @valid;
}

.email-not-validated {
  color: @invalid;
}

.full-width-input{
  width: 100%
}
