@brand-primary: #005689;

//Typography
@font-family-base: @font-family-serif;
@font-family-serif: Georgia;

//Buttons
@btn-primary-bg: #5bc0de;
@btn-default-color: #ffffff;

//Navbar
@navbar-default-bg: @brand-primary;
@navbar-border-radius: 0px;

