@import play.i18n._
@import models.Forms._
@(pageTitle: String, searchQuery: Option[String],form: Form[UserForm], error: Option[String])
    @main(pageTitle)(searchQuery){
        <div class="row">
            <div class="col-md-10">
                @error.map { err =>
                    <div class="alert alert-danger" role="alert">@err</div>
                }
                <div class="row uneditable-fields">
                    <div class="col-sm-2">
                        <img src="@routes.Assets.at("images/darkUserIcon.svg")" />
                    </div>
                    <div class="col-sm-10">
                        <h1>@form("personalDetails.firstName").value @form("personalDetails.lastName").value</h1>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.idHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                <p>@form("id").value</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.displayNameHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                <p>@form("displayName").value</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.vanityUrlHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                <p>@form("vanityUrl").value</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.registeredHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                <p>
                                    @form("registeredDate").value
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.lastActivityHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                <p>
                                    @form("lastActivityDate").value
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p>@Messages.get("editUser.emailValidatedHeader")</p>
                            </div>
                            <div class="col-sm-10">
                                @if(form("status.userEmailValidated").value) {
                                    <p class="email-validated">Yes</p>
                                } else {
                                    <p class="email-not-validated">No</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group-vertical center-block">
                    <button class="btn btn-default">@Messages.get("editUser.profileBtn")</button>
                    <form action="delete" class="btn-group">
                        <input type="hidden" value=@searchQuery name="searchQuery"/>
                        <input type="hidden" value="@form("id").value" name="userId"/>
                        <button class="btn btn-danger" type="submit">@Messages.get("editUser.deleteBtn")</button>
                    </form>
                    <button class="btn btn-warning">@Messages.get("editUser.validateBtn")</button>
                </div>
            </div>
        </div>
        <form method="post" action="save">
            <input type="hidden" name="@form("id").name" value="@form("id").value">
            <input type="hidden" name="searchQuery" value="@searchQuery">
            <input type="hidden" name="@form("personalDetails.gender").name" value="@form("personalDetails.gender").value"/>
            <input type="hidden" name="@form("personalDetails.dateOfBirth").name" value="@form("personalDetails.dateOfBirth").value"/>
            <input type="hidden" name="@form("personalDetails.location").name" value="@form("personalDetails.location").value"/>
            <input type="hidden" name="@form("displayName").name" value="@form("displayName").value"/>
            <input type="hidden" name="@form("vanityUrl").name" value="@form("vanityUrl").value"/>
            <input type="hidden" name="@form("deliveryAddress.addressLine1").name" value="@form("deliveryAddress.addressLine1").value"/>
            <input type="hidden" name="@form("deliveryAddress.addressLine2").name" value="@form("deliveryAddress.addressLine2").value"/>
            <input type="hidden" name="@form("deliveryAddress.addressLine3").name" value="@form("deliveryAddress.addressLine3").value"/>
            <input type="hidden" name="@form("deliveryAddress.addressLine4").name" value="@form("deliveryAddress.addressLine4").value"/>
            <input type="hidden" name="@form("deliveryAddress.country").name" value="@form("deliveryAddress.country").value"/>
            <input type="hidden" name="@form("deliveryAddress.postcode").name" value="@form("deliveryAddress.postcode").value"/>
            <input type="hidden" name="@form("billingAddress.addressLine1").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("billingAddress.addressLine2").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("billingAddress.addressLine3").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("billingAddress.addressLine4").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("billingAddress.country").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("billingAddress.postcode").name" value="@form("billingAddress.addressLine1").value"/>
            <input type="hidden" name="@form("lastActivityDate").name" value="@form("lastActivityDate").value"/>
            <input type="hidden" name="@form("lastActivityIp").name" value="@form("lastActivityIp").value"/>
            <input type="hidden" name="@form("registrationDate").name" value="@form("registrationDate").value"/>
            <input type="hidden" name="@form("registrationIp").name" value="@form("registrationIp").value"/>
            <input type="hidden" name="@form("status.userEmailValidated").name" value="@form("status.userEmailValidated").value"/>

            <div class="row">
                <div class="col-md-6">
                    <h4>@Messages.get("editUser.accountDetails")</h4>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm visible-md visible-lg visible-xl">
                    <h4>@Messages.get("editUser.marketingPrefsHeader")</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <p>@Messages.get("editUser.emailHeader")</p>
                        </div>
                        <div class="col-md-8">
                            <input class="full-width-input" type="text" name="@form("email").name" value="@form("email").value"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>@Messages.get("editUser.firstNameHeader")</p>
                        </div>
                        <div class="col-md-8">
                            <input class="full-width-input" type="text" name="@form("personalDetails.firstName").name" value="@form("personalDetails.firstName").value"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>@Messages.get("editUser.lastNameHeader")</p>
                        </div>
                        <div class="col-md-8">
                            <input class="full-width-input" type="text" name="@form("personalDetails.lastName").name" value="@form("personalDetails.lastName").value"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>@Messages.get("editUser.usernameHeader")</p>
                        </div>
                        <div class="col-md-8">
                            <input class="full-width-input" type="text" name="@form("username").name" value="@form("username").value"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 visible-xs visible-sm hidden-md hidden-lg hidden-xl">
                            <h4>@Messages.get("editUser.marketingPrefsHeader")</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="@form("receiveMarketing").name"
                                value="true"
                                @if(form("receiveGnmMarketing").value.getOrElse("false") == "true"){
                                    checked = "checked"
                                }
                            />
                        </div>
                        <div class="col-xs-11">
                            <p>@Messages.get("editUser.GNMMarketing")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <input
                                type="checkbox"
                                class="checkbox"
                                name="@form("receive3rdPartyMarketing").name"
                                value="true"
                                @if(form("receive3rdPartyMarketing").value.getOrElse("false") == "true"){
                                    checked = "checked"
                                }
                            />
                        </div>
                        <div class="col-xs-11">
                            <p>@Messages.get("editUser.3rdPartyMarketing")</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="submit" class="pull-right btn btn-success btn-block center-block">@Messages.get("editUser.saveBtn")</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-10 uneditable-fields">
            <div class="row">
                <div class="col-md-2">
                    <h4>@Messages.get("editUser.personalDetailsHeader")</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.genderHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("personalDetails.gender").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.dobHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                @form("personalDetails.dateOfBirth").value
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.locationHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("personalDetails.location").value</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>@Messages.get("editUser.deliveryAddressHeader")</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.addressLine1Header")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.addressLine1").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.addressLine2Header")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.addressLine2").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.townHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.addressLine3").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.countyStateHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.addressLine4").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.postcodeZipHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.postcode").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.countryHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("deliveryAddress.country").value</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>@Messages.get("editUser.billingAddressHeader")</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.addressLine1Header")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.addressLine1").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.addressLine2Header")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.addressLine2").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.townHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.addressLine3").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.countyStateHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.addressLine4").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.postcodeZipHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.postcode").value</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>@Messages.get("editUser.countryHeader")</p>
                        </div>
                        <div class="col-xs-6">
                            <p>@form("billingAddress.country").value</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h4>@Messages.get("editUser.userGroupsHeader")</h4>
                </div>
            </div>

            @helper.repeat(form("groups"), min=1) {userGroup =>
                <div class="row">
                    <div class="col-xs-2">
                        <p>@form(userGroup.name + ".name").value</p>
                    </div>
                    <div>
                    <p>@form(userGroup.name + ".joinDate").value</p>
                    </div>
                </div>
            }
        </div>
    </div>
    }