@import play.i18n._
@(pageTitle: String, searchBarDescription: Option[String])
@main(pageTitle)(searchBarDescription){
    <div class="col-sm-6 col-sm-push-6">
        <div class="hidden-xs">
            <img src="@routes.Assets.at("images/ArrowLargeScreen.svg")">
        </div>
        <div class="hidden-sm hidden-md hidden-lg hidden-xl">
            <img src="@routes.Assets.at("images/ArrowSmallScreen.svg")">
        </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 index-view-padding">
        <h1>@Messages.get("index.mainHeader")</h1>
        <h2>@Messages.get("index.subHeader")</h2>
    </div>
}