@main("User Admin")("Search by username, email, postcode or IP address..."){
    <div class="col-sm-6 col-sm-push-6">
        <div class="hidden-xs">
            <img src="@routes.Assets.at("images/ArrowLargeScreen.svg")">
        </div>
        <div class="hidden-sm hidden-md hidden-lg hidden-xl">
            <img src="@routes.Assets.at("images/ArrowSmallScreen.svg")">
        </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6 index-view-padding">
        <h1>Welcome to Passport Control</h1>
        <h2>Search for an Identity using the search bar above</h2>
    </div>
}