@import play.api.i18n._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import auth.GroupsValidationFailed
@import auth.IdentityValidationFailed
@import auth.AccessForbidden
@import auth.LoginError

@(loginError: Option[LoginError] = None, contactEmail: Option[String])
    @main("Login")(None){
    <div class="jumbotron">
        @(loginError, contactEmail) match {
            case (Some(GroupsValidationFailed()), Some(email)) => {
                <div class="alert alert-danger" role="alert">
                    @Messages("login.groupsValidationFailed", email)
                </div>
            }
            case (Some(IdentityValidationFailed()), Some(email)) => {
                <div class="alert alert-danger" role="alert">
                    @Messages("login.identityValidationFailed", email)
                </div>
            }
            case (Some(AccessForbidden()), _) => {
                <div class="alert alert-danger" role="alert">
                    @Messages("login.accessForbidden")
                </div>
            }
            case (Some(_), _) => {
                <div class="alert alert-danger" role="alert">
                    @Messages("login.defaultError")
                </div>
            }
            case (None, _) => {
                <p>@Messages("login.loginMessage")</p>
            }
        }
        <form action="@routes.Login.loginAction()" method="get">
            <input class="btn btn-default" value="Log In" type="submit">
        </form>
    </div>
    }
