@import auth.GroupsValidationFailed
@import auth.IdentityValidationFailed
@import auth.LoginError

@(loginError: Option[LoginError] = None, contactEmail: Option[String])
    @main("Login")(None){
    <div class="jumbotron">
        @(loginError, contactEmail) match {
            case (Some(GroupsValidationFailed()), Some(email)) => {
                <div class="alert alert-danger" role="alert">
                   Sorry, you do not have access to User Admin. If you would like access, please email @email.
                   Please state the reason why you need access.
                </div>
            }
            case (Some(IdentityValidationFailed()), Some(email)) => {
                <div class="alert alert-danger" role="alert">
                    We could not log you in. Please contact @email if the problem persists.
                </div>
            }
            case (Some(_), _) => {
                <div class="alert alert-danger" role="alert">
                    Failed to login. Please try again.
                </div>
            }
            case (None, _) => {
                <p>Click the button below to login.</p>
            }
        }
        <form action="@routes.Login.loginAction()" method="get">
            <input class="btn btn-default" value="Log In" type="submit">
        </form>
    </div>
    }
