@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <div class="pull-left">
                            <a href="/">
                                <img src="@routes.Assets.at("images/UserIcon.svg")">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <form class="search-bar-width navbar-form navbar-left" role="search">
                            <div class="search-bar-width form-group">
                                <input class="form-control" type="text" name="query" placeholder="Search by username, email, postcode or IP address...">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">@content</div>
            </div>
        </div>
    </body>
</html>
