@main("User Search"){
    <div class="row">
      <div class="col-md-12">
          <h3>Accounts matching your search criteria...</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3"><h5>Email</h5></div>
        <div class="col-md-2 hidden-xs hidden-sm visible-md visible-lg visible-xl"><h5>Username</h5></div>
        <div class="col-md-2 hidden-xs hidden-sm visible-md visible-lg visible-xl"><h5>Name</h5></div>
        <div class="col-md-2 hidden-xs hidden-sm visible-md visible-lg visible-xl"><h5>Registered Date</h5></div>
        <div class="col-md-2 hidden-xs hidden-sm visible-md visible-lg visible-xl"><h5>Last Activity Date</h5></div>
        <div class="col-md-1 hidden-xs hidden-sm visible-md visible-lg visible-xl"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><p>email@@email.com<p></div>
        <div class="col-md-2 visible-xs visible-sm hidden-md hidden-lg hidden-xl"><h5>Username</h5></div>
        <div class="col-md-2"><p>myUsername<p></div>
        <div class="col-md-2 visible-xs visible-sm hidden-md hidden-lg hidden-xl"><h5>Name</h5></div>
        <div class="col-md-2"><p>Firstname Surname<p></div>
        <div class="col-md-2 visible-xs visible-sm hidden-md hidden-lg hidden-xl"><h5>Registered Date</h5></div>
        <div class="col-md-2"><p>05 Apr 2015<p></div>
        <div class="col-md-2 visible-xs visible-sm hidden-md hidden-lg hidden-xl"><h5>Last Activity Date</h5></div>
        <div class="col-md-2"><p>06 Apr 2015 12:30:31<p></div>
        <div class="col-md-1">
            <button type="button">Edit</button>
        </div>
    </div>
}